@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Sen', sans-serif;
  background-color: #f9fafb; /* bg-gray-50 equivalent */
  color: #1f2937; /* text-gray-800 equivalent */
}
